%h1
  System Administration

.card
  %h2
    System Paths

  .help
    This section lists the local file system paths that will be used to install
    various objects. The default paths are relative to the server code, and
    should work without problem in most situations.

  %p
    #{system.objects_path}

  %p
    #{system.jobs_path}

  %p
    %a{:href => "/system/new"}
      Edit

%form.modal{:action => "/system", :method => :post}
  .card
    %h2
      Moderation

    .help
      This section moderates account creation and establishes whether or not arbitrary
      people or systems can install objects on the system. If objects are moderated,
      for instance, somebody can import a simulator object, but only when an adminstrator
      authorizes it via this page will it actually be compiled, installed, and thus available
      to others.

    -# Assure 'false' value is submitted with form
    %input{:type => :hidden, :name => :moderate_objects, :value => "false"}
    %input{:type => :hidden, :name => :moderate_accounts, :value => "false"}

    -# Actual content follows
    %label.checkbox{:for => :moderate_objectss}
      %input{:type => :checkbox, :id => :moderate_objects, :name => :moderate_objects, :checked => system.moderate_objects}
      Moderate Objects
    %br
    %label.checkbox{:for => "moderate_accounts"}
      %input{:type => :checkbox, :id => :moderate_accounts, :name => :moderate_accounts, :checked => system.moderate_accounts}
      Moderate Accounts
    %br
  .card.filled
    .submit
      %input.button{:type => :submit, :value => "Save"}

.card
  %h2
    Pending Accounts

  .help
    This section lists accounts which were created but not yet active.
    These accounts cannot log into the system until you press the Activate button.

  - unless accounts.empty?
    %ul
    - accounts.each do |account|
      %li
        #{account.username}
        %form{:action => "/accounts/#{account.id}", :method => :post}
          %input{:type => :hidden, :name => "active", :value => "1"}
          %input.button{:type => :submit, :value => "Activate"}
  - else
    None

.card
  %h2
    Pending Object Installs
  .help
    This section lists pending objects requested by accounts on this system.
    Only when you press the install button will an object actually be realized,
    built, placed on the filesystem, and thus available to those to use.

  - unless objects.empty?
    %ul
    - objects.each do |object|
      %li
        #{object.name}
        %form{:action => "/objects/#{object.id}", :method => :post}
          %input{:type => :hidden, :name => "active", :value => "1"}
          %input.button{:type => :submit, :value => "Install"}
  - else
    None
