-# Documentation specific layout
!!!
%html
  %head
    %link{:rel => 'icon',       :sizes => '16x16',   :href => '/images/favicon-16.png'}
    %link{:rel => 'icon',       :sizes => '32x32',   :href => '/images/favicon-32.png'}
    %link{:rel => 'icon',       :sizes => '48x48',   :href => '/images/favicon-48.png'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css',
      :href => 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Cinzel+Decorative:700|Alegreya+Sans+SC|Marcellus+SC|inconsolata'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/docs.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/zenburn.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/ui-lightness/jquery-ui-1.10.4.custom.min.css'}

    = yield_content :styles

    %title
      - if header == :root
        OCCAM System Documentation
      - else
        OCCAM System Documentation - #{header}

  %body
    %nav
      %h1
        - if header == :root
          OCCAM System
        - else
          #{header}
      %ul
        - if header != :root
          %li.back
            %a{:href => '/docs'}
              %span.arrow
                &#x25c0;
              Back
        %li.top
          %a{:href => '#'}
            %span.arrow
              &#x25B2;
            Top
        = documentation_nav outline

    .content
      = find_and_preserve do
        = yield

    %script{:src=>"/js/jquery/jquery.min.js"}
    %script{:src=>"/js/jquery.nav.js"}
    %script{:src=>"/js/docs.js"}

    = yield_content :scripts
