- if connection.creates_object_of_type.blank? or !recurse
  %li.object{:class => "#{object.type} #{'base' if base} #{connection.co_runnable == 1 ? 'fifo' : ''}"}>
    .row
      - if connection.connections.any? or object.inputs.any?
        %ul.connections{:class => object.inputs.any? ? "input" : ""}
          - connection.connections.each do |input_connection|
            = partial :"workflows/object", :locals => {:workflow => workflow, :base => false, :connection => input_connection, :object => input_connection.object, :recurse => true}
          %li.object.input
            .row
              .info
                .container.input
                  .edge.top.left
                  .edge.bottom.left
                  .container-content
                    %form{:action => "/workflows/#{workflow.id}/connections", :method => :post, :name => :add_connection}
                      - if object.inputs.any?
                        %input{:name => :connection_id, :type => :hidden, :value => connection.id}
                        %select.inputs{:name => :object_type, :"data-object-id" => object.id}
                          - object.input_types.each do |input|
                            %option{:value => input.object_type}
                              #{input.object_type}
                          - object.indirect_input_types.each do |input|
                            %option{:value => input.object_type}
                              #{input.object_type}
                        %input.button{:name => :submit, :type => :submit, :value => "Update"}
                        - if object.inputs.any?
                          %select.objects{:name => :object, :"data-input-id" => object.inputs.first.id}
                            - object.inputs.first.objects.select(:name, :id).each do |obj|
                              %option{:value => obj.id} #{obj.name}
                            - object.inputs.first.indirect_objects.select(:name, :id).each do |obj|
                              %option{:value => obj.id} #{obj.name}
                        %ul.options
                          %li
                            %input.button{:name => :submit, :type => :submit, :value => "Attach"}
                  .edge.top.right
                  .edge.bottom.right
      .info
        .container
          .edge.top.left
          .edge.bottom.left
          .container-content
            - if !base
              %form{:action => "/workflows/#{workflow.id}/connections/#{connection.id}", :method => :post}
                %input{:type => :hidden, :value => 'delete', :name => :_method}
                %input.delete{:type => :submit, :value => "x"}
            %h3.type
              #{object.type}
            %h3.name
              %a{:href => "/objects/#{object.id}"}
                = object.name
            %ul.outputs
              %li
                %a.button{:href => "/objects/#{object.id}/configuration"}
                  Defaults
          .edge.top.right
          .edge.bottom.right
- else
  = partial :"workflows/created_object", :locals => {:workflow => workflow, :base => base, :connection => connection, :object => connection.object}
