-# Purpose: Displays a form to edit the system.
-#
-# Locals:  errors - A collection of errors that are passed when the form
-#                   is reloaded after a validation error. nil when no errors.
-#          system - The default or in-progress system object.

%h1
  - if system.persisted?
    Configuring
  - else
    Setting up
  %span.logo
    Occam

- if errors && !errors.empty?
  .card
    .errors
      %h2
        Errors
      %ul
        - errors.each do |error|
          %li
            = error[0]

%form.modal{:action => "/system", :method => :post, :name => :system_new}
  .card
    %label{:for => :objects_path}
      Object Root Path
    %input{:type => :text, :id => :objects_path, :name => :objects_path, :value => system.objects_path}
    %label{:for => :jobs_path}
      Job Root Path
    %input{:type => :text, :id => :jobs_path, :name => :jobs_path, :value => system.jobs_path}
  .card.filled
    .submit
      %input.button{:type => "submit", :value => (system.persisted? ? "Update" : "Create"), :name => :submit}
