- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/index.css'}

.header
  %img{:src => "/images/logo_large.svg"}

  .video
    .screen
      %img{:src => "/images/yt_placeholder_16_9.png"}
      .embed

- content_for :scripts do
  %script{:type => "text/javascript"}
    :plain
      $(function() {
        $('.embed').one('click', function(event) {
          $('.embed').append('<video style="width: 100%" controls><source src="/videos/demo-480.mp4" type="video/mp4"></video>');
        });
      });

.resizer
  .resizer-content
    %img{:src => "/images/yt_placeholder_16_9.png"}

.pillars
  %ul
    %li
      Infrastructure
    %li
      Education
    %li
      Community

.markdown.main
  = render(:markdown, :"index/section_0_description")

.markdown.object_curation.section
  = render(:markdown, :"index/section_object_curation")

.markdown.workflow_design.section
  = render(:markdown, :"index/section_workflow_design")

.markdown.object_building.section
  = render(:markdown, :"index/section_object_building")

.markdown.sponsors.section
  = render(:markdown, :"index/section_sponsors")
