!!!
%html
  %head
    %link{:rel => 'icon',       :sizes => '16x16',   :href => '/images/favicon-16.png'}
    %link{:rel => 'icon',       :sizes => '32x32',   :href => '/images/favicon-32.png'}
    %link{:rel => 'icon',       :sizes => '48x48',   :href => '/images/favicon-48.png'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css',
      :href => 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Cinzel+Decorative:700|Oxygen|Lato:300|Alegreya+Sans+SC|Marcellus+SC|inconsolata'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/nav.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/form.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/graph.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/main.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/zenburn.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/ui-lightness/jquery-ui-1.10.4.custom.min.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/jquery.searchlight.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/tagit/jquery.tagit.css'}

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    = yield_content :styles

    %title
      OCCAM System
  %body
    %nav.topbar
      %a.logo{:href => '/'}
      %ul.navbar.left
        %li>
          %a{:href => "/objects/import"}>Import
      %ul.navbar.right
        - if current_account.nil?
          %li>
            %a{:href => "/login"}>Login
          %li>
            %a{:href => "/accounts/new"}>Signup
        - else
          - if current_account.has_role? :administrator
            %li
              %a{:href => "/admin"}
                Admin
          %li#username>
            %a{:href => "/accounts/#{current_account.id}"}
              #{current_account.username}
          %li>
            %a{:href => "/logout"}>Logout
        %li>
          %form{:action => "/search", :method => :post}
            %input{:id => "search", :name => "search"}
            %input{:id => :submit, :type => :submit, :style => "display: none;"}
        %li>
          %a{:href => "/search"}>Search
    .content
      = find_and_preserve do
        = yield
    - if not defined?(no_footer) or !no_footer
      %footer
        %ul
          %li>
            %a{:href => "/about"}>About
          %li>
            %a{:href => "/acknowledgements"}>Acknowledgements
          %li>
            %a{:href => "/docs"}>Documentation

    %script{:src=>"/js/jquery/jquery.min.js"}
    %script{:src=>"/js/d3/d3.min.js"}
    %script{:src=>"/js/jquery/jquery-ui-1.10.4.custom.min.js"}
    %script{:src=>"/js/jquery.base64.min.js"}
    %script{:src=>"/js/jquery.searchlight.js"}
    %script{:src=>"/js/tagit/tag-it.min.js"}
    %script{:src=>"/js/app.js"}

    = yield_content :scripts
