h2 + form.configure,
h2 + .configuration-search-options {
  margin-top: 15px;
  padding-right: 15px;
}

.content .card ul.configuration-group p {
  margin: 0;
  padding: 0;
}

.content .card ul.configuration-group > li > h2 {
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 10px;
}

.content .card h1 + h2 + ul.configuration-group {
  padding-left: 0px;
  padding-right: 0px;
}

.content .card h2 + ul.configuration-group {
  padding-left: 20px;
}

.content .card ul.configuration-group {
  width: auto;
}

.content .card ul.configuration-group > li {
  display: block;
}

/* Dots */

.content .card ul.configuration-group > li > .dots {
  position: relative;
  z-index: 0;
  top: 12px;
  margin-left: 20px;
  margin-right: 220px;
  border-bottom: 1px dotted #ccf;
}

.content .card ul.configuration-group > li > p,
.content .card ul.configuration-group > li > label {
  margin: 0;
  margin-left: 20px;
  position: relative;
  color: hsl(190, 30%, 35%);
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  display: inline-block;
  padding-bottom: 10px;
  background-color: #fff;
}

.content .card ul.configuration-group > li > p + p,
.content .card ul.configuration-group > li > input {
  position: relative;
  z-index: 1;
  float: right;
  height: 20px;
  width: 202px;
  border: 1px solid #888;
  background-color: #fff;
}

.content .card ul.configuration-group > li > p + p {
  border: none;
}

.content .card ul.configuration-group > li > input[type='checkbox'] {
  width: 7px;
  margin-right: 193px;
  border: 1px solid #888;
  background-color: #fff;
}

.content .card ul.configuration-group > li > div.select {
  position: relative;
  z-index: 1;
  float: right;
  border: 1px solid #888;
  background-color: #fff;
  width: 204px;

  overflow: hidden;
  background: url(/images/dropdown_arrow.png) no-repeat;
  background-color: #f8f8f8;
  background-position: 98% center;
  border: 1px solid #ccc;
}

.content .card ul.configuration-group > li > div.select > select {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  height: 20px;
  width: 224px;
}

.content .card ul.configuration-group .description {
  color: #444;
  display: none;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 220px;
  padding-bottom: 10px;
}

.content .card ul.configuration-group .description p {
  font-size: 12px;
}

.content .card ul.configuration-group .description p + p {
  margin-top: 9px;
}

/* Expands */

.content .card ul.configuration-group span.expand {
  background-color: #fff;
  color: #aaa;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  z-index: 1;
  top: 2px;

  padding-left: 5px;
  padding-right: 5px;
}

.content .card .configuration-group h2 span.expand {
  position: relative;
  z-index: 1;
  background-color: #fff;
  color: #ccc;
  font-size: 18px;
  vertical-align: top;
  cursor: pointer;
  margin-right: 5px;

  padding: 0;
}

.content .card ul.configuration-group label + span.expand {
  font-size: 8px;
  top: 0px;
}

/* Sub-Recipe Dropdowns */

.content .configuration-group li .recipe {
  background: url('/images/recipe_small.png') no-repeat left top;
  float: right;

  margin-top: 15px;

  padding-left: 30px;
}

.content .configuration-group li .recipe select {
  width: 200px;
  border: 1px solid #888;
  background-color: #fff;
}

/* Parsley errors/validations */

.content .card ul.parsley-errors-list li {
  color: #f44;
  font-size: 12px;
  font-weight: 700;
}

.content .card input.parsley-error {
  background-color: #f99;
}
