form.modal {
}

.help + form.modal ,
h2 + form.modal {
  margin-top: 15px;
}

.button {
  display: inline-block;

  /* REMEMBER: Duplicate the bg stuff to disabled:active */
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 100%)), color-stop(1, hsl(190, 0%, 90%)) );
  background:-moz-linear-gradient( center top, hsl(190, 0%, 100%) 5%, hsl(190, 0%, 90%) 100% );
  background-color: hsl(190, 0%, 40%);

  border: 1px solid #ccc;
  border-radius: 3px;

  color: #333;
  cursor: pointer;

  padding: 7px 9px;
  margin-top: 10px;

  text-align: center;
  text-decoration: none;

  /* REMEMBER: Duplicate this line under :disabled:hover */
  box-shadow: inset 0px 0px 1px 1px hsl(190, 60%, 100%);

  font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
}

.button:hover {
  box-shadow:inset 0px 0px 1px 1px hsl(190, 60%, 50%);
}

.button:active {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 95%)), color-stop(1, hsl(190, 0%, 90%)) );

  background:-moz-linear-gradient( center top, hsl(190, 0%, 95%) 5%, hsl(190, 0%, 90%) 100% );
  background-color: hsl(190, 0%, 40%);
}

.button.disabled ,
.button:disabled {
  color: #aaa;
  cursor: default;
}

.button.disabled:hover ,
.button:disabled:hover {
  box-shadow:inset 0px 0px 1px 1px hsl(190, 60%, 100%);
}

.button.disabled:active ,
.button:disabled:active {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 100%)), color-stop(1, hsl(190, 0%, 90%)) );
  background:-moz-linear-gradient( center top, hsl(190, 0%, 100%) 5%, hsl(190, 0%, 90%) 100% );
  background-color: hsl(190, 0%, 40%);

  position:relative;
  top:0px;
}

.button.inline {
  margin-top: 0px;
}

.button:active {
  position:relative;
  top:1px;
}

.content a.button:hover {
  text-decoration: none;
}

form.modal p   + label ,
form.modal ul  + label ,
form.modal div + label ,
form.modal h3  + label ,
form.modal h2  + label {
  margin-top: 20px;
}

form.modal .card label:not(.checkbox),
form.modal .card label:not(.checkbox),
form.modal > label:not(.checkbox) {
  color: hsl(190, 30%, 35%);
  display: block;
  font-family: "Alegreya Sans SC", "Montserrat Alternates";
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
}

/* Checkbox Labels */
form.modal .card label.checkbox,
form.modal > label.checkbox {
  font-family: "Open Sans";
  font-size: 15px;
  margin-left: 15px;
}

form.modal .card input[type=text],
form.modal .card input[type=password],
form.modal .card select,
form.modal .card ul.tagit,
form.modal > input[type=text],
form.modal > input[type=password],
form.modal > select,
form.modal > ul.tagit {
  padding: 5px;
  width: 600px;
  margin-bottom: 10px;
  margin-left: 15px;
}

form.modal .card input.short,
form.modal > input.short {
  width: 300px;
  margin-left: 15px;
}

form.modal .card textarea,
form.modal > textarea {
  width: 600px;
  height: 200px;
  margin-left: 15px;
}

form.modal .card input.tagit-hidden-field,
form.modal > input.tagit-hidden-field {
  display: none;
}

form.modal .card > .submit > input[type=submit],
form.modal > .submit > input[type=submit] {
  display: inline-block;

  min-width: 310px;
  margin: 0;
}

form.modal .card > .submit,
form.modal > .submit {
  background-color: #103942;

  text-align: center;
  padding: 15px 15px;
}

.errors {
  background-color: hsl(10, 90%, 80%);
  margin-bottom: 10px;
  padding: 8px;
  padding-bottom: 10px;

  border-bottom: 1px solid hsl(10, 60%, 70%);
}

.content .errors h2 {
  margin: 0;
  color: hsl(10, 90%, 30%);
}

.errors ul {
  list-style-type: square;
  list-style-position: inside;
}

.errors ul li {
  color: hsl(10, 30%, 50%);
  margin-bottom: 7px;
}

.errors ul li:last-child {
  margin-bottom: 0px;
}

form.center {
  text-align: center;
}
