/* Contains styling for the graph-builder application.
 */

/* Override normal OCCAM content styling so that it takes the whole screen.
 */
html, body {
  background-color: white;
}

body .content {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  max-width: none;
}

body nav.topbar {
  border-bottom: none;
  margin-bottom: 0px;
}

/* Contains all of the widgets pertaining to graph presentation.
 * That is: (#command-bar, #graph-type-bar, #graph, #graph-options)
 */
.graph-panel {
  display: inline-block;
  position: fixed;
  left: 0%;
  overflow: hidden;
  height: 100%;
  max-width: 35%;
  width: 35%;
}

/* Conversely contains all of the widgets pertaining to results/data
 * presentation and picking.
 * That is: (#results-bar, #results-data)
 */
.results-panel {
  display: inline-block;
  position: fixed;
  height: 100%;
  left: 35%;
  width: 65%;
}

.results-panel:first-child {
  width: 100%;
  left: 0%;
}

/* Displays a list of commands (add-graph, undo, reset, etc)
 */
#command-bar {
  background-color: #444;
  /*border-bottom: 1px solid #777;*/
  width: 100%;
  height: 30px;
}

#command-bar .logo {
  color: hsl(190, 80%, 70%);
  display: inline-block;

  margin-left: 15px;
}

#command-bar ul {
  display: inline-block;

  margin-left: 7px;
  margin-top: 6px;
}

#command-bar ul li {
  border-right: 1px solid #777;
  color: white;
  display: inline-block;
  height: 18px;
  line-height: 18px;

  padding-right: 7px;
  padding-left: 5px;

  font-family: "Open Sans";
  font-size: 14px;
}

#command-bar ul li:first-child{
  padding-left: 0;
}

#command-bar ul li:last-child{
  border-right: none;
}

/* Lists graph types (bar, line, etc)
 */
#graph-type-bar {
  background-color: #444;
  width: 100%;
  height: 64px;
  overflow: hidden;
}

#graph-type-bar ul {
  display: inline-block;
}

#graph-type-bar ul li {
  background-color: #555;
  border-right: 1px solid #777;
  cursor: pointer;
  display: inline-block;

  width: 64px;
  height: 64px;
}

#graph-type-bar ul li:last-child {
  border-right: none;
}

#graph-type-bar ul li.active {
  background-color: #ccc;
}

/* The actual graph container.
 */
#graph {
  background-color: #444;
  border: none;
  border-bottom: 1px solid #777;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Lists graph specific options (title, etc)
 */
#graph-options {
  background-color: #444;
  overflow: auto;
  width: 100%;
}

#graph-options ul.options {
  display: table;
  width: 100%;
  padding: 10px;
  padding-right: 10px;
  margin: 0;
}

#graph-options ul.options li.option {
  display: table-row;
  height: 25px;
  max-height: 25px;
}

#graph-options ul.options li.option label {
  color: white;
  display: table-cell;
  height: 20px;
  max-height: 20px;
  text-align: right;
  vertical-align: top;
  padding-right: 10px;
  white-space: nowrap;
}

#graph-options ul.options li.option div {
  height: 20px;
  max-height: 20px;
  width: 100%;
  display: table-cell;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

#graph-options ul.options li.option div input {
  display: inline-block;
  height: 18px;
  max-height: 18px;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0;
}

#graph-options ul.options li.option div input:not([type=range]) {
  border: none;
}

#graph-options ul.options li.option .two input {
  float: left;
  width: 46%;
}

#graph-options ul.options li.option .two input:not(:first-child) {
  float: right;
}

#graph-options ul.options li.option input[type=checkbox] {
  width: 15px;
}

/* Tab-bar that lists the experiments that can be queried for the graph.
 */
#results-bar {
  background-color: #aaa;
  border-left: 1px solid #000;
  width: 100%;
}

#results-bar ul {
  display: block;
}

#results-bar ul li {
  background-color: #d8d8d8;
  border-right: 1px solid #777;
  border-bottom: 1px solid #777;
  color: #777;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  padding-top: 8px;

  padding-right: 7px;
  padding-left: 5px;

  font-family: "Open Sans";
  font-size: 14px;
}

#results-bar ul li.active {
  background-color: hsl(190, 80%, 40%);
  color: #eee;
}

/* Tabulated view of the results of the given experiment.
 */
#results-data {
  border-left: 1px solid #000;
  height: 100%;
  overflow: auto;
}

#results-data .data {
  display: none;

  padding-top: 10px;
  padding-left: 10px;
}

#results-data .data.active {
  display: block;
}

/* Context menu that appears when you click a data item.
 */
#graph-builder-menu {
  background: #333;
  color: #ddd;

  padding: 10px;
  border: 1px solid black;
}

#graph-builder-menu ul li {
  cursor: pointer;

  margin-bottom: 5px;
}

#graph-builder-menu ul li:last-child {
  margin-bottom: 0;
}
