nav.topbar {
  background-color: #383838;
  height: 48px;
  width: 830px;
  margin: 0 auto;
  line-height: 48px;
  position: relative;
}

nav.topbar .logo {
  background-color: red;
  background: url('/images/logo_icon.png') no-repeat 5px 6px;
  background-size: 40px;
  color: hsl(190, 80%, 70%);
  display: inline-block;
  height: 46px;
  width: 52px;
  letter-spacing: 0.03em;
  line-height: 48px;
  padding-top: 3px;
  vertical-align: top;
}

nav.topbar ul.navbar {
  color: hsl(190, 60%, 70%);
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

nav.topbar ul.navbar.left {
  margin-left: 0px;
}

nav.topbar ul.navbar.right {
  position: absolute;
  right: 0;
}

nav.topbar ul.navbar li {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 12px;
  margin: 0;
  padding-right: 10px;
}

nav.topbar ul.navbar li + li {
  border-left: 1px solid #444;
  padding-left: 10px;
}

nav.topbar ul.navbar li input {
  border: none;
  height: 18px;
}

nav.topbar ul.navbar li + li a {
}

nav.topbar ul.navbar li#username a {
  color: hsl(190, 80%, 70%);
}

nav.topbar ul.navbar li a {
  color: #efefef;
  text-decoration: none;
}

nav.topbar ul.navbar li a:hover {
  text-decoration: underline;
}
