.content ul#workflow {
  background-color: hsl(290, 80%, 99%);
  border: 1px solid #bbb;
  margin: 0px;
  margin-top: 10px;
  overflow: auto;
  max-height: 600px;
  white-space: nowrap;
  padding: 20px;
}

.content ul#workflow > * {
  resize: none;
}

.content ul#workflow > li {
  display: inline-block;
  position: relative;

  margin: 0;

  padding-left: 0px;
  padding-top:  0px;
  padding-bottom: 0px;
  background: url('/images/workflow_arrow.png') no-repeat 0% 50%;

  vertical-align: top;
}

.content ul#workflow > li.base > .container {
  background-color: #ccc;
  opacity: 0.7;
}

.content ul#workflow > li:first-child {
  background: none;
}

.content ul#workflow > li:last-child {
  margin-right: 25px;
}

.content ul#workflow .container > .container-content > h3 {
  margin-top: 10px;
  text-align: center;
  font-size:  14px;
}

.content ul#workflow .container > .container-content > h3.type {
  font-weight: 400;
}

/* This is the object node in the workflow
 */
.content ul#workflow > li.object {
}

/* This is the last node in the workflow
 */
.content ul#workflow > li.output {
}

.content ul#workflow .container > .container-content > form > input.delete {
  display: block;
  position: absolute;
  right: -8px;
  top: -8px;
  height: 16px;
  width: 16px;
  color: white;
  background-color: #ccc;
  border: 1px solid #aaa;
  text-align: center;
  padding: 0;
  line-height: 10px;
  cursor: pointer;
  vertical-align:top;
  border-radius: 8px;
}

.content ul#workflow .container > .container-content > form > input.delete:hover {
  background-color: #fcc;
}

.content ul#workflow li.object {
  display: table;
  margin: 0;
  margin-left: auto;
}

.content ul#workflow > li.object {
  margin-left: 0;
}

.content ul#workflow li.object > .row {
  display: table-row;
}

.content ul#workflow li.object > .row > ul.connections {
  position: relative;
  display: table-cell;
  width: 150px;
  text-align: right;
}

.content ul#workflow li.object > .row > .info {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

.content ul#workflow .container {
  width: 160px;
  height: 160px;

  display: block;

  white-space: normal;

  position: relative;
}

.content ul#workflow .container > .container-content {
  width: 120px;
  height: 120px;

  position: absolute;

  left: 10px;
  top: 10px;

  background-color: #fcfcff;

  border: 1px solid #ddd;
  border-left-width: 5px;
  border-right-width: 5px;
}

.content ul#workflow .container.created > .container-content {
  opacity: 0.5;
}

.content ul#workflow .container.input > .container-content {
  opacity: 0.7;
  border-color: hsl(120, 30%, 60%);
}

.content ul#workflow li.object > .row > .info > .container > .edge {
  width: 15px;
  height: 1000%;
  position: absolute;
  border-color: hsl(180, 40%, 80%);
  border-style: solid;
  border-width: 0;
}

.content ul#workflow li.object > .row > .info > .container > .edge.top {
  bottom: 90px;
}

.content ul#workflow li.object > .row > .info > .container > .edge.left {
  left: 0px;
}

.content ul#workflow li.object > .row > .info > .container > .edge.right {
  right: 0px;
}

.content ul#workflow li.object > .row > .info > .container > .edge.bottom {
  top: 70px;
}

.content ul#workflow li.object > .row > .info > .container > .edge.top.left {
}

.content ul#workflow li.object > .row > .info > .container > .edge.top.right {
}

.content ul#workflow li.object > .row > .info > .container > .edge.bottom.left {
}

.content ul#workflow li.object > .row > .info > .container > .edge.bottom.right {
}

/* Line coming from the left.
 * Only when there are inputs.
 */
.content ul#workflow li.object > .row > ul.connections + .info > .container > .edge.top.left {
  border-bottom-width: 1px;
}

.content ul#workflow li.object.fifo > .row > ul.connections + .info > .container > .edge.top.left {
}

/* Line going to the right.
 * Only when there is an object.
 */

.content ul#workflow li.object > .row > ul.connections > li.object > .row > .info > .container > .edge.top.right {
  border-bottom-width: 1px;
}
.content ul#workflow li.object > .row > ul.connections > li.object > .row > .info > .container > .edge.bottom.right {
}

.content ul#workflow li.object > .row > ul.connections > li.object.fifo > .row > .info > .container > .edge.top.right {
  border-bottom-color: #ddd;
}
.content ul#workflow li.object > .row > ul.connections > li.object.fifo > .row > .info > .container > .edge.bottom.right {
  border-bottom-color: #ddd;
}

/* Lines connecting connections.
 */
.content ul#workflow li.object > .row > ul.connections > li.object > .row > .info > .container > .edge.top.right {
  border-right-width: 5px;
  width: 15px;
}
.content ul#workflow li.object > .row > ul.connections > li.object > .row > .info > .container > .edge.bottom.right {
  border-right-width: 5px;
  width: 25px;
}
.content ul#workflow li.object > .row > ul.connections > li.object:first-child > .row > .info > .container > .edge.top.right ,
.content ul#workflow li.object > .row > ul.connections > li.object:last-child > .row > .info > .container > .edge.bottom.right {
  border-right-width: 0px;
  width: 25px;
}

/* This is the first node in the workflow
 */
.content ul#workflow > li {
}

.content ul#workflow .container ul {
  display: block;

  position: absolute;

  bottom: 0%;
}

.content ul#workflow .container select {
  margin: 10px;
  margin-bottom: 0;
  width: 100px;
}

.content ul#workflow .container input.button ,
.content ul#workflow .container > .container-content > ul > li a {
  margin: 10px;
  width: 80px;
  height: 12px;
}

.content ul#workflow .container input.button {
  width: 100px;
  height: 28px;
  margin-top: 12px;
}

.content ul#workflow .container > .container-content > ul > li:not(:first-child) input.button ,
.content ul#workflow .container > .container-content > ul > li:not(:first-child) a {
  margin-top: 0;
}
