-# Purpose: Displays the profile for the specified workset
-#
-# Locals:  workset       - The particular Workset to view
-#          simulator     - The Simulator this workset runs with
-#          experiments   - All loose Experiments that are part of this Workset.
-#          groups - All Groups that are attached to this Workset.
-#          forked_from   - The Workset that this Workset was cloned from.
-#          account       - The Account that created this Workset.
-#          collaborators - The Accounts that are attached to this Workset.

- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/workflow.css'}

%h1.workset
  .icon.workset<
  .statistics
    %ul
      %li.visibility
        - if workset.private == 1
          %span.units.private
            private
        - else
          %span.units.public
            public
        %span.value
          - if workset.is_collaborator? current_account
            %form{:action => "/worksets/#{workset.id}", :method => :post}
              %input{:type=>:hidden, :name => :private, :value => (workset.private == 1 ? 0 : 1).to_s}
              - if workset.private == 1
                %input.lock.private{:type=>:submit, :value => 'Toggle'}
              - else
                %input.lock.public{:type=>:submit, :value => 'Toggle'}
          - else
            - if workset.private == 1
              %img.lock.private{:src => "/images/public_locked.png"}
            - else
              %img.lock.public{:src => "/images/public_unlocked.png"}
      %li.collaborators
        %span.units
          collaborators
        %span.value
          = workset.collaborations.count + 1
      %li.groups
        %span.units
          groups
        %span.value
          = workset.groups.count
      %li.experiments
        %span.units
          experiments
        %span.value
          = workset.experiments.count
      %li.forks
        %span.units
          forks
        %span.value
          = workset.experiments.count
  .name<
    = workset.name
  - if !account.organization.blank?
    .organization<
      = account.organization

.description
  - unless workset.description.blank?
    :markdown
      #{workset.description}
  - if workset.tags.length > 1
    %ul.tags
      - workset.tags[1..-1].split(";").each do |tag|
        %li.tag
          %a{:href => "/worksets?tag=#{tag}"}
            = tag

  - if workset.can_edit?(current_account)
    %p.edit-profile-link
      %a.edit-profile{:href => "/worksets/#{workset.id}/edit"}
        Edit Description

- if forked_from
  %ul.image-list
    %li.forked_from.fork
      Forked from
      %a{:href => "/worksets/#{forked_from.id}"}
        #{forked_from.name}

%ul.image-list.right
  %li.fork
    %a{:href => "/worksets/#{workset.id}/fork"}
      Fork this workset

- if forked_us && !forked_us.empty?
  %h2
    Forks
  %ul.image-list.forked_us
    - forked_us.each do |forked_workset|
      %li.fork
        %a{:href => "/worksets/#{forked_workset.id}"}
          #{forked_workset.name}

.card
  %h2
    Collaborators
    - if workset.can_edit? account
      %a.help-bubble{:href => "?help=collaborators"}
        help

  - if workset.can_edit? account
    .help{:"aria-hidden" => !(workset.accounts.empty? or help == "collaborators") ? "true" : "false"}
      :markdown
        Worksets can be toggled between *private* and *public* via the lock symbol at the upper-right. Public worksets can be seen by anybody but only edited by you. Private worksets can be seen only by you. Either way, you can add **collaborators** below who acquire all access privileges as you with the exception of deleting the workset.

  %ul.account.image-list
    %li.person
      - if account
        %img.avatar{:src => account.avatar_url(32)}>
        .username
          %a{:href => "/accounts/#{account.id}"}<
            #{account.username}
        %span.black.small
          (creator)
      - else
        anonymous
    - collaborators.each do |account|
      %li.person
        %img.avatar{:src => account.avatar_url(32)}>
        .username
          %a{:href => "/accounts/#{account.id}"}<
            #{account.username}
        %a.small-link{:href => "/worksets/#{workset.id}/collaborators/#{account.id}/remove"}
          remove
    - if workset.can_edit? account
      %li.add
        - if account
          %form{:action => "/worksets/#{workset.id}/collaborators", :method => :post}
            %input{:type=>'text', :name => 'username'}

.card
  %h2
    Base Workflow
    %a.help-bubble{:href => "?help=workflow"}
      help

  .help{:"aria-hidden" => !(workflow.connections.empty? or help == "workflow") ? "true" : "false"}
    :markdown
      A **workflow** describes how a collection of objects interact. Generally, it denotes a path from some input to some eventual result. For instance, you can describe a flow from a benchmark to a simulator. To do this, you would first attach a simulator. At that point, it will show you the possible input objects you can attach. You can select a benchmark on the left-hand side and all runs will use that benchmark with the given simulator.
  = partial :"workflows/show", :locals => {:workflow => workflow}

.card
  %h2
    Graphs
    - if workset.can_edit?(current_account)
      %a.help-bubble{:href => "?help=graphs"}
        help

  .help{:"aria-hidden" => !(graphs.empty? or help == "graphs") ? "true" : "false"}
    :markdown
      This section lists the **graphs** that have been produced from the experiments within this workset. To produce a graph, first create and run a group (see below) and when the experiments have all completed, use the **Graph Builder** by selecting *new graph* in the group/experiment list below. In the graph builder, you can design the graph and then press *save* and that graph will appear here.

  - if graphs.empty?
    %p
      No graphs.
  - else
    %ul.image-list
      - graphs.each do |graph|
        %li.results
          %a{:href=>"/worksets/#{workset.id}/graphs/#{graph.id}"}<
            #{graph.data["title"] || "Graph Title"}

.card
  %h2
    Groups
    - if workset.can_edit?(current_account)
      %a.help-bubble{:href => "?help=groups"}
        help

  - if workset.can_edit?(current_account) or help == "groups"
    .help{:"aria-hidden" => !(groups.empty? or help == "groups") ? "true" : "false"}
      :markdown
        To run an experiment, you'll need to create a new group. **Groups** help manage a set of related experiments (single runs of a simulation) such that they can be kept organized. Groups can also be defined by a configuration such that experiments can be automatically generated upon, for instance, a range of possible options.

  %ul.groups
    - groups.each do |group|
      %li.group{:"data-group-id" => group.id, :"data-workset-id" => workset.id}
        .information
          .row
            %span.name
              %a{:href => "/worksets/#{workset.id}/groups/#{group.id}"}
                #{group.name}
            - if group.status == :unqueued
              %span.status.unqueued
                unqueued
            - elsif group.status == :queued
              %span.status.queued
                queued
            - elsif group.status == :running
              %span.status.running
                running
            - elsif group.status == :failed
              %span.status.failed
                failed
            - elsif group.status == :finished
              %span.status.finished
                finished
            %span.units
              experiments
            %span.value
              #{group.experiments.count}
            %span.graph-builder
              - if workset.can_edit?(current_account)
                - if group.results?
                  %a.button{:href => "/worksets/#{workset.id}/groups/#{group.id}/graphs/new"}
                    new graph
                - else
                  %a.button.disabled
                    new graph
            %span.results
              - if workset.can_view?(current_account)
                - if group.results?
                  %a.button{:href => "/worksets/#{workset.id}/groups/#{group.id}/results"}
                    results
                - else
                  %a.button.disabled
                    results
            %span.command
              - if workset.can_edit?(current_account)
                %a.button{:href => "/worksets/#{workset.id}/groups/#{group.id}/run"}
                  run

  - if workset.can_edit?(current_account)
    .add-group
      %span.input
        %form{:action => "/worksets/#{workset.id}/groups", :method => :post}
          %input{:type=>'text', :name => 'name'}
      %span.description
        Add a new group

.card
  %h2
    Command
  - if workset.can_edit?(current_account)
    %ul.buttons
      %li
        %span.action
          %a.button{:href => "/worksets/#{workset.id}/run"}
            Run all
      %li
        %span.action
          %a.button{:href => "/worksets/#{workset.id}/cancel"}
            Stop all
