-# Purpose: Displays the results of the search
-#
-# Locals:	simulators	- The list of simulators
-#			experiments	- The list of experiments

%h1
  Results

- if !simulators.empty?
  %h2
    Simulators

  %ul#simulator-results.results.diamond-list
    - simulators.each do |simulator|
      %li
        %a{:href => "/simulators/#{simulator.id}"}
          #{simulator.name}
        :markdown
          #{simulator.description}

- if !experiments.empty?
  %h2
    Experiments

  %ul#experiment-results.results.diamond-list
    - experiments.each do |experiment|
      %li
        %a{:href => "/experiments/#{experiment.id}"}
          #{experiment.name}

- if simulators.empty? && experiments.empty?
  %p
    No results.
