%h1.account
  .icon.account<
    %img.avatar{:src => account.avatar_url(96)}
  .roles<
    %ul
      - account.get_roles.each do |role|
        %li{:class => role}
          #{role}
  .name<
    Edit Profile

= partial :errors, :locals => {:errors => errors}

%form.modal{:action => "/accounts/#{account.id}", :method => :post, :name => :account_edit}
  .card
    %label{:for => :organization}
      organization
    %input{:type => :text, :id => :organization, :name => :organization, :value => current_account.organization}
    %label{:for => :display_name}
      display name
    %input{:type => :text, :id => :display_name, :name => :display_name, :value => current_account.display_name}
    %label{:for => :email}
      email
    %input{:type => :text, :id => :email, :name => :email, :value => current_account.email}
    %label{:for => :bio}
      bio
    %textarea{:id => :bio, :name => :bio}
      = current_account.bio
  .card.filled
    .submit
      %input.button{:type => :submit, :value => "Save"}
