-# Partial: renders the full metadata for an object, such as a Simulator

.description
  :markdown
    #{object.description}
  - if object.tags.length > 1
    %ul.tags
      - object.tags[1..-1].split(";").each do |tag|
        %li.tag
          %a{:href => "/#{plural}?tag=#{tag}"}
            = tag

.card
  .information
    - if object.script_path
      .script_path
        %h2
          Object URL
        %p
          %a{:href => object.script_path}
            #{object.script_path}
    - if object.binary_path
      .binary_path
        %h2
          Code URL
        %p
          %a{:href => object.binary_path}
            #{object.binary_path}
    .website
      %h2
        Website
      %p
        %a{:href => object.website}<
          #{object.website}
    .authors
      %h2
        Authors
      %ul
        - unless object.authors.split(";").empty?
          - object.authors.split(";")[1..-1].each do |author|
            %li
              = author
    - if object.configurations.any?
      .configuration
        %h2
          Configuration
        %ul
          - object.configurations.each do |configuration|
            %li.configuration.default
              %a{:href => "/objects/#{object.id}/configurations/#{configuration.id}"}
                #{configuration.name}
            -#- recipes.each do |recipe|
            -#  %li.configuration
            -#    %a{:href => "/objects/#{object.id}/recipes/#{recipe.id}"}
            -#      #{recipe.name}
    - if object.binaries.any?
      .binaries
        %h2
          Binaries
        %ul
          - object.binaries.each do |binary|
            %li.binary
              #{binary.name}
    .runs-binaries
      %h2
        Runs Binaries
      %p
        - if object.runs_binaries == 0
          No
        - else
          Yes
    .inputs
      %h2
        Inputs
      - if object.inputs.empty?
        %p
          None
      - else
        %ul
          - object.inputs.each do |input|
            %li.input
              #{input.object_type}
              - if not input.object_group.blank?
                within #{input.object_group}
    .outputs
      %h2
        Outputs
      - if object.outputs.empty?
        %p
          None
      - else
        %ul
          - object.outputs.each do |output|
            %li.output
              #{output.object_type}
              - if not output.object_group.blank?
                within #{output.object_group}
              - if output.schema_document_id
                %a{:href => "/objects/#{object.id}/outputs/#{output.id}/schema"}
                  schema
    .license
      %h2
        License
      %p
        #{object.license}
    - if install_job && job
      .update
        %h2
          Update
        %p
          %a{:href => "/objects/#{object.id}/update"}
            Force
    - if install_job
      .installation
        %h2
          Installation
        %p
          - if install_job.nil?
            %span.status.unqueued
              unqueued
          - elsif install_job.status == :queued
            %span.status.queued
              queued
          - elsif install_job.status == :running
            %span.status.running
              running
          - elsif install_job.status == :failed
            %span.status.failed
              failed
          - elsif install_job.status == :finished
            %span.status.finished
              finished
          - if install_job.elapsed_time
            %span.time<
              #{ChronicDuration.output(install_job.elapsed_time.round(2) || 0.0, :keep_zero => true, :format => :long)}
    - if job
      .build-progress
        %h2
          Build Progress
        %p
          - if job.nil?
            %span.status.unqueued
              unqueued
          - elsif job.status == :queued
            %span.status.queued
              queued
          - elsif job.status == :running
            %span.status.running
              running
          - elsif job.status == :failed
            %span.status.failed
              failed
          - elsif job.status == :finished
            %span.status.finished
              finished
          - if job.elapsed_time
            %span.time<
              #{ChronicDuration.output(job.elapsed_time.round(2) || 0.0, :keep_zero => true, :format => :long)}

- if install_job_info && install_job_info["job_log"]
  .card.filled
    %h2
      Installation Output
    %pre#install-output
      #{install_job_info["job_log"]}

- if install_job_info && install_job_info["output_log"]
  .card.filled
    %h2
      Latest Process Output
    %pre
      #{install_job_info["output_log"]}

- if job
  - if job_info && job_info["job_log"]
    .card.filled
      %h2
        Build Output
      %pre#build-output
        #{job_info["job_log"]}

  - if job_info && job_info["output_log"]
    .card.filled
      %h2
        Latest Process Output
      %pre
        #{job_info["output_log"]}

  .card.terminal.filled{:"aria-hidden" => "true"}
    %h2
      Console
    .terminal{:tabindex => "1"}
