-# Purpose: Displays the profile for an imported object
-#
-# Locals: errors       - A collection of errors that are passed when the form
-#         object       - The particular object to import.
-#         dependencies - Other objects that must be imported.

%h1.import
  .icon.import<
  .name<
    Import #{object.name}
  .organization<
    Import this object into this OCCAM system

= partial :errors, :locals => {:errors => errors}

.card
  %h2
    To Be Installed

  %ul
    %li
      #{object.name}
    - dependencies.each do |dep|
      %li
        #{dep.name}

%form.modal{:action => "/objects", :method => :post, :name => :objects_new}
  %input{:type => "hidden", :id => :script_path, :name => :script_path, :value => object.script_path}
  .card.filled
    .submit
      %input.button{:type => "submit", :value => "Install", :name => :submit}

= partial(:"objects/show", {:locals => {:plural => "objects", :install_job_info => nil, :job_info => nil, :install_job => nil, :job => nil, :object => object}})
