-#
-#
-# Locals: simulators     - List of simulators
-#         simulator_tags - List of simulator tags
-#         benchmark      - List of benchmark tags
-#         benchmark_tags - List of benchmark tags

%h1.object
  .icon.object<
  .statistics
    %ul
      %li.benchmarks
        %span.units
          benchmarks
        %span.value
          #{Occam::Object.where(:object_type => 'benchmark').count}
      %li.simulators
        %span.units
          simulators
        %span.value
          #{Occam::Object.where(:object_type => 'simulator').count}
      %li.traces
        %span.units
          traces
        %span.value
          #{Occam::Object.where(:object_type => 'trace').count}
      %li.worksets
        %span.units
          worksets
        %span.value
          #{Occam::Workset.count}
      %li.experiments
        %span.units
          experiments
        %span.value
          #{Occam::Experiment.count}
  .name<
    Objects
  .organization<
    Collection of objects known to this OCCAM system

.card
  %ul.image-list
    %li.add
      %a{:href=>"/objects/import", :title => "Import Object"}
        Import an object

.card
  %h2
    Simulators

  %ul.tags
    - simulator_tags.each do |tag|
      %li.tag
        %a{:href => "/objects/types/simulator?tag=#{tag}"}
          = tag

  %ul.simulator
    - simulators.each do |simulator|
      %li
        %h2
          %a{:href => "/objects/#{simulator.id}"}
            #{simulator.name}
        .description
          :markdown
            #{simulator.description}
        - if simulator.tags.length > 1
          %ul.tags
            - simulator.tags[1..-1].split(";").each do |tag|
              %li.tag
                %a{:href => "/objects/types/simulator?tag=#{tag}"}
                  #{tag}

  %p
    %a{:href => "/simulators"}
      List all

.card
  %h2
    Benchmarks

  %ul.tags
    - benchmark_tags.each do |tag|
      %li.tag
        %a{:href => "/objects/types/benchmark?tag=#{tag}"}
          = tag

  %ul.benchmark
    - benchmarks.each do |benchmark|
      %li
        %h2
          %a{:href => "/objects/#{benchmark.id}"}
            #{benchmark.name}
        .description
          :markdown
            #{benchmark.description}
        - if benchmark.tags.length > 1
          %ul.tags
            - benchmark.tags[1..-1].split(";").each do |tag|
              %li.tag
                %a{:href => "/objects/types/benchmark?tag=#{tag}"}
                  #{tag}
  %p
    %a{:href => "/objects?by_type=benchmark"}
      List all

.card
  %h2
    Worksets

  %p
    %a{:href => "/worksets"}
      List all

.card
  %h2
    Experiments

  %p
    %a{:href => "/experiments"}
      List all
