-# Purpose: Displays the object builder
-#
-# Locals:  object - The object we are building

- content_for :scripts do
  %script{:type => "text/javascript", :src => "/js/terminal.js"}

%h1{:class => object.type}
  .icon{:class => object.type}<
  .statistics
    %ul
      %li.worksets
        %span.units
          worksets
        %span.value
          0
      %li.experiments
        %span.units
          experiments
        %span.value
          0
  .name<
    New Object
  .description<
    Object Builder

%form.modal{:action => "/objects", :method => :post, :name => :objects_new}
  .card
    %label{:for => :name}
      name
    %input{:type => "text", :name => :name}

    %label{:for => :type}
      type
    %input{:type => "text", :name => :type}

  .card.collapsable
    %h2
      Metadata
      %a.help-bubble{:href => "?help=metadata"}
        help

    .help{:"aria-hidden" => help != "metadata" ? "true" : "false"}
      :markdown
        This section holds the metadata for this object.
        This data is optional, but helps define the source and origin
        of the object.
        For instance, adding a website points people to the community around
        this object. The authors tag should contain a list of those
        responsible for developing or maintaining the object.

    %label{:for => :organization}
      organization
    %input{:type => "text", :name => :organization}

    %label{:for => :website}
      website
    %input{:type => "text", :name => :website}

    %label{:for => :authors}
      authors
    %input{:type => "text", :name => :authors}

    %label{:for => :license}
      license
    %input{:type => "text", :name => :license}

    %label{:for => :tags}
      tags
    %input{:type => "text", :name => :tags}

  .card.collapsable
    %h2
      Inputs
      %a.help-bubble{:href => "?help=inputs"}
        help

    .help{:"aria-hidden" => help != "inputs" ? "true" : "false"}
      :markdown
        This section depicts what objects can be used as inputs to this one.

  .card.collapsable
    %h2
      Outputs
      %a.help-bubble{:href => "?help=outputs"}
        help

    .help{:"aria-hidden" => help != "outputs" ? "true" : "false"}
      :markdown
        This section depicts what objects are potentially created as a result of running this object.

  .card.collapsable
    %h2
      Configuration
      %a.help-bubble{:href => "?help=configuration"}
        help

    .help{:"aria-hidden" => help != "configuration" ? "true" : "false"}
      :markdown
        This section describes the configuration parameters that are used to drive this object when the object runs.

  .card.collapsable
    %h2
      Install
      %a.help-bubble{:href => "?help=install"}
        help

    .help{:"aria-hidden" => help != "install" ? "true" : "false"}
      :markdown
        This section describes the resources the object needs in order to build.

    %h3
      repositories

    %ul.repos
      %li.repo
        .information
          .type
            %h2
              type
            %p
              git
          .url
            %h2
              url
            %p
              git://github.com/dramninjasUMD/DRAMSim2.git
          .to
            %h2
              to
            %p
              package
      %li.repo
        .information
          .type
            %h2
              type
            %p
              git
          .url
            %h2
              url
            %p
              git://github.com/dramninjasUMD/DRAMSim2.git
          .to
            %h2
              to
            %p
              package

    %p
      No repositories.

    %h3
      add repository

    %label{:for => :package_type}
      type
    %select{:name => :package_type}
      %option
        git
      %option
        hg
      %option
        svn
      %option
        tar

    %label{:for => :url}
      url
    %input{:type => :text, :name => :url}

    %label{:for => :to}
      to
    %input{:type => :text, :name => :to, :value => "package"}
    %br
    %input.button{:type => :submit, :name => :add_repo, :value => "Add"}

  .card.collapsable
    %h2
      Build
      %a.help-bubble{:href => "?help=build"}
        help

    .help{:"aria-hidden" => help != "build" ? "true" : "false"}
      :markdown
        This section describes the process of building this object including any libraries it needs to install.

    %h3
      Directory Structure

    %ul.directory
      %li.directory
        %ul.information
          %li.name
            %span.name
              package
          %li.repository
            %span.repository
              git://github.com/dramninjasUMD/DRAMSim2.git
      %li.file
        %span.name
          object.json

    %h3
      packages

    %ul.packages

    %h3
      script

    %label{:for => :build_language}
      language
    %input{:type => "text", :name => :build_language}

    %label{:for => :build_language}
      version
    %input{:type => "text", :name => :build_version}

  .card.collapsable
    %h2
      Init
      %a.help-bubble{:href => "?help=init"}
        help

    .help{:"aria-hidden" => help != "init" ? "true" : "false"}
      :markdown
        This section describes the process of initializing the object to be executed.

  .card.collapsable
    %h2
      Run
      %a.help-bubble{:href => "?help=run"}
        help

    .help{:"aria-hidden" => help != "run" ? "true" : "false"}
      :markdown
        This section describes the process of running the object.
